<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://staffworkload.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>staffworkload</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$staffworkload</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:y2x8tstejy.database.windows.net,1433;Initial Catalog=staffwoAJ4TKlNRs;User ID=RyanBowden@y2x8tstejy;Password=Molly_10" Name="Data Source=tcp:y2x8tstejy.database.windows.net,1433;Initial Catalog=staffwoAJ4TKlNRs;User Id=RyanBowden@y2x8tstejy;Password=Molly_10" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StaffWorkloadSystem.Models.ApplicationDbContext, StaffWorkloadSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="staffwoAJ4TKlNRsConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=y2x8tstejy.database.windows.net;Initial Catalog=staffwoAJ4TKlNRs;User ID=RyanBowden;Password=Molly_10" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\staffwoAJ4TKlNRsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=y2x8tstejy.database.windows.net;Initial Catalog=staffwoAJ4TKlNRs;User ID=RyanBowden;Password=Molly_10" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y2x8tstejy.database.windows.net,1433;Initial Catalog=staffwoAJ4TKlNRs;User Id=RyanBowden@y2x8tstejy;Password=Molly_10</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>